alabaster==0.7.12
aniso8601==9.0.1
anytree==2.8.0
apparmor==3.0.3
appdirs==1.4.4
apsw==3.36.0.post1
asgiref==3.4.1
astroid==2.8.3
attrs==21.2.0
autoenv==1.0.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
Beaker==1.11.0
beautifulsoup4==4.9.3
blessed==1.19.0
breezy==3.2.0
Brlapi==0.8.3
btrfsutil==5.14.2
CacheControl==0.12.6
cachy==0.3.0
cchardet==2.1.7
cffi==1.14.6
chardet==4.0.0
cleo==0.7.6
click==8.0.3
clikit==0.6.2
cloudscraper==1.2.58
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
crashtest==0.3.1
crit==0.0.1
cryptography==35.0.0
css-parser==1.0.6
cssselect==1.1.0
decorator==5.1.0
distlib==0.3.3
distro==1.6.0
Django==3.2.7
dnspython==2.1.0
docutils==0.17.1
enlighten==1.10.1
entrypoints==0.3
evdev==1.4.0
feedparser==6.0.1
filelock==3.0.12
Flask==1.1.2
Flask-JWT-Extended==4.3.1
flask-pwa==0.1.0
Flask-RESTful==0.3.9
greenlet==1.1.2
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
idna==3.2
ifaddr==0.1.7
imagesize==1.2.0
importlib-metadata==4.8.1
ipython==7.28.0
ipython_genutils==0.2.0
iso8601==0.1.16
isort==5.9.3
itsdangerous==2.0.1
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.2
jsonschema==3.2.0
keyring==23.0.1
lark-parser==0.11.3
lazy-object-proxy==1.6.0
lensfun==0.3.95
LibAppArmor==3.0.3
libfdt==1.6.1
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
lockfile==0.12.2
louis==3.19.0
lutris==0.5.9.1
lxml==4.6.3
m3u8==0.7.1
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.14.0
matplotlib-inline==0.1.2
mccabe==0.6.1
mechanize==0.4.6
meson==0.59.2
more-itertools==8.10.0
msgpack==1.0.2
mutagen==1.45.1
mypy==0.910
mypy-extensions==0.4.3
neovim==0.3.1
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
nsz==4.0.0
ordered-set==4.0.2
packaging==20.9
parso==0.8.2
pastel==0.2.1
patiencediff==0.2.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==2.0.2
ply==3.11
poetry-core==1.0.3
prefixed==0.3.2
progress==1.6
prompt-toolkit==3.0.20
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
pulsemixer==1.5.1
pwquality==1.4.4
py7zr==0.11.3
pycairo==1.20.1
pychm==0.8.6
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.4
pycryptodomex==3.11.0
pycurl==7.44.1
pyflakes==2.3.1
Pygments==2.10.0
PyGObject==3.40.1
PyJWT==2.3.0
pylev==1.4.0
pylint==2.11.1
pynput==1.7.4
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.5
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.0
python-xlib==0.31
pytz==2021.3
pyxdg==0.27
PyYAML==5.4.1
qutebrowser==2.4.0
ranger-fm==1.9.3
regex==2021.8.28
requests==2.26.0
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
SecretStorage==3.3.1
selenium==3.141.0
sgmllib3k==1.0.0
shellingham==1.4.0
simplejson==3.17.5
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
team==1.0
texttable==1.6.4
toml==0.10.2
tomli==1.2.1
tomlkit==0.7.2
traitlets==5.1.0
typing-extensions==3.10.0.2
udemy-dl==1.1
Unidecode==1.3.2
unrardll==0.1.4
urllib3==1.26.7
validate==5.1.0.dev0
virtualenv==20.8.1
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.0
Werkzeug==2.0.2
wrapt==1.12.1
yapf==0.31.0
youtube-dl==2021.6.6
yt-dlp==2021.10.22
zeroconf==0.36.8
zipp==3.6.0
zstandard==0.15.2
